{% extends "page/page.html.twig" %}

{% block bodyClass %}bg:blue-grey-700{% endblock %}

{% block content %}
  <h1 class="visually-hidden">Information about Rose Nichols</h1>
  <article class="container wl-container mar-h:auto color:off-white pad-v:18">

    <section class="mar-b:18">
      <h2 class="text:8 mar-b:-4">Drupal</h2>
      <div class="grid grid-cols:2 grid-gap:12">
        <div>
          <div class="">
            <p class="text:3 mar-b:4">Yes! You probably want to hire me for these things</p>
            <h3 class="mar-t:none mar-b:-7 text:upper text:-1 letter:xl font:700">Front-end</h3>
            <ul class="list-style:none text:1 pad-l:none bg:blue-grey-800 pad-h:1 pad-v:1 mar-t:none mar-b:4">
              <li class="list-style:tick mar-b:-2">Templating</li>
              <li class="list-style:tick mar-b:-2">Preprocess functions/hooks</li>
              <li class="list-style:tick mar-b:-2">Custom module/block development</li>
              <li class="list-style:tick">Custom front-end for headless build</li>
            </ul>

            <h3 class="mar-t:none mar-b:-7 text:upper text:-1 letter:xl font:700">Back-end</h3>
            <ul class="list-style:none text:1 pad-l:none mar-v:none bg:blue-grey-800 pad-h:1 pad-v:1">
              <li class="list-style:tick mar-b:-2">Form API</li>
              <li class="list-style:tick mar-b:-2">Architecture</li>
              <li class="list-style:tick">Migrations</li>
            </ul>
          </div>
        </div>

        <div>
          <div class="">
            <p class="text:3 mar-b:4">Nope, you probably don't want to hire me for these things</p>
            <h3 class="mar-t:none mar-b:-7 text:upper text:-1 letter:xl font:700">Back-end</h3>
            <ul class="list-style:none text:1 pad-l:none mar-v:none bg:blue-grey-800 pad-h:1 pad-v:1">
              <li class="list-style:tick mar-b:-1">Form API</li>
              <li class="list-style:tick mar-b:-1">Architecture</li>
              <li class="list-style:tick">Migration</li>
            </ul>
          </div>
        </div>
      </div>
    </section>

    <section class="mar-b:18">
      <h2 class="text:8 mar-b:-4">Front-end development</h2>
      <div class="grid grid-cols:2 grid-gap:12">
        <div>
          <div class="">
            <p class="text:3 mar-b:4">Yes! You probably want to hire me for these things</p>
            <ul class="list-style:none text:1 pad-l:none bg:blue-grey-800 pad-h:1 pad-v:1 mar-t:none mar-b:4">
              <li class="list-style:tick mar-b:-2">Templating</li>
              <li class="list-style:tick mar-b:-2">Preprocess functions/hooks</li>
              <li class="list-style:tick mar-b:-2">Custom module/block development</li>
              <li class="list-style:tick">Custom front-end for headless build</li>
            </ul>

            <ul class="list-style:none text:1 pad-l:none mar-v:none bg:blue-grey-800 pad-h:1 pad-v:1">
              <li class="list-style:tick mar-b:-2">Form API</li>
              <li class="list-style:tick mar-b:-2">Architecture</li>
              <li class="list-style:tick">Migrations</li>
            </ul>
          </div>
        </div>

        <div>
          <div class="">
            <p class="text:3 mar-b:4">Nope, you probably don't want to hire me for these things</p>
            <ul class="list-style:none text:1 pad-l:none mar-v:none bg:blue-grey-800 pad-h:1 pad-v:1">
              <li class="list-style:tick mar-b:-1">Form API</li>
              <li class="list-style:tick mar-b:-1">Architecture</li>
              <li class="list-style:tick">Migration</li>
            </ul>
          </div>
        </div>
      </div>
    </section>

    <section>
      <h2 class="text:8 mar-b:-4">Design</h2>
      <div class="grid grid-cols:2 grid-gap:12">
        <div>
          <div class="">
            <p class="text:3 mar-b:4">Yes! You probably want to hire me for these things</p>
            <ul class="list-style:none text:1 pad-l:none bg:blue-grey-800 pad-h:1 pad-v:1 mar-t:none mar-b:4">
              <li class="list-style:tick mar-b:-2">Templating</li>
              <li class="list-style:tick mar-b:-2">Preprocess functions/hooks</li>
              <li class="list-style:tick mar-b:-2">Custom module/block development</li>
              <li class="list-style:tick">Custom front-end for headless build</li>
            </ul>

            <ul class="list-style:none text:1 pad-l:none mar-v:none bg:blue-grey-800 pad-h:1 pad-v:1">
              <li class="list-style:tick mar-b:-2">Logo design</li>
              <li class="list-style:tick mar-b:-2">Architecture</li>
              <li class="list-style:tick">Migrations</li>
            </ul>
          </div>
        </div>

        <div>
          <div class="">
            <p class="text:3 mar-b:4">Nope, you probably don't want to hire me for these things</p>
            <ul class="list-style:none text:1 pad-l:none mar-v:none bg:blue-grey-800 pad-h:1 pad-v:1">
              <li class="list-style:tick mar-b:-1">Form API</li>
              <li class="list-style:tick mar-b:-1">Architecture</li>
              <li class="list-style:tick">Migration</li>
            </ul>
          </div>
        </div>
      </div>
    </section>
  </article>
{% endblock %}

{% block footer_js %}
  {#<script src="/js/rtg.js"></script>#}
  <script src="/js/transform-email.js"></script>
{% endblock %}

I come from a digital agency background with over 10 years experience in the industry.
During this time I have built, launched and provided maintenance for numerous websites,
many for well known FTSE 100 and AIM listed clients.
I progressed to a senior technical position and have held roles as a Developer, Team Leader and Manager.
I have had experience leading and mentoring a team of up to 6 developers.

My expertise lies in in technical front end development and Drupal theming.
But I am also comfortable working with PHP and Drupal modules including hooks and customisation.
I have a strong eye for detail and I am passionate about responsive web design.
I work hard to ensure best practice standards for my projects.