{% extends "page/page.twig" %}

{% block content %}
  <section>
    <div class="section-content pad-v-xl">
      <h1>{{ title }}</h1>
      <p>{{ content|raw }}</p>
    </div>
  </section>
{% endblock %}
