{% extends "page/page.twig" %}

{% block bodyClass %}page-front{% endblock %}

{% block content %}
  <h1 class="visually-hidden">Information about Rose Nichols</h1>
  <article class="page-body">
    <section class="bg-light-cyan" id="summary">
      <div class="section-content pad-t-s pad-b-2xl pad-h-l">
        <h1 class="mar-b-xs text-2xl letter-s font-dosis line-tight">Hello! My name is Rose</h1>
        <p class="text-m">I am a twenty-something, hazel-eyed, surfing, piano playing web developer & designer</p>
      </div>
    </section>
    <section class="bg-outer-space color-white" id="occupation">
      <div class="section-content pad-v-2xl pad-h-l">
        <h1 class="mar-b-s text-2xl letter-s font-dosis line-reset">What I’m doing right now</h1>
        <p class="text-m">I’m working with Col8, a start-up building the new standard for storing, viewing and exploring geospatial video.</p>
        <p class="text-m">Col8 provides a full-service solution for both consumer and business. We are exploring opportunities with industries ranging from subsea surveying, drone operation and professional sports, alongside our flagship consumer platform.</p>
        <p class="text-m">If you have action camera video, upload it to Col8 and receive these benfits completely free:</p>
        <ul class="pad-l-l pad-v-xs text-m list-circle">
          <li class="mar-b-xs">total peace of mind knowing we’ll securely store your footage</li>
          <li class="mar-b-xs">use of our intuitive viewer, showing you speed and elevation data alongside your video</li>
          <li class="mar-b-xs">categorise your content by tag or activity type so you can quickly find what you’re looking for</li>
          <li class="mar-b-xs">browse our interactive map to find new routes, or watch others ride a trail to see if it’s right for you</li>
          <li class="mar-b-xs">select highlights of your rides and share with friends</li>
        </ul>
        <p class="text-m"><a class="color-key-lime" href="http://col8.net">Sounds good, right?</a></p>
      </div>
    </section>
    <section class="color-outer-space" id="about">
      <div class="section-content pad-v-2xl pad-h-l">
        <h1 class="mar-b-s text-2xl letter-s font-dosis color-begonia line-reset">Some words about me</h1>
        <p class="text-m">I'm a smart, hard-working developer with 5+ years' industry experience.</p>
        <p class="text-m">My time has been spent working primarily with Drupal. I have a solid level of experience with D7 and have been working with D8 since shortly after its stable release. More recently, I've worked with other technologies, including PHP micro-framework Silex, and am keen to continue branching out.</p>
        <p class="text-m">As a person I am conscientious and diplomatic. I can co-operate with a team without the need for constant direction. I'm friendly and easy-going but I get things done too. I appreciate witty banter with like-minded people.</p>
        <p class="text-m">Outside of work, I'm a keen surfer and happiest near a beach.</p>
      </div>
    </section>
    <section class="bg-key-lime" id="contact">
      <div class="section-content pad-v-2xl pad-h-l">
        <h1 class="mar-b-s text-2xl letter-s font-dosis color-cherry line-tight">If you want to get in touch</h1>
        <p class="text-m">You can email me directly at <span class="transform-email">hello[at]rosenichols[dot]co[dot]uk</span></p>
        {#{{ contact_form|raw }}#}
      </div>
    </section>
    <section>
      <div class="section-content pad-v-2xl pad-h-l" id="elsewhere">
        <h1 class="mar-b-s text-2xl letter-s font-dosis line-tight">Other homes</h1>
        <p class="text-m">Well, we’re coming to the end of this merry little jaunt. Other than hanging out here on my own, I can occasionally be found in my bird house (too much?) at <a class="color-begonia" href="https://www.twitter.com/rosenichols">Twitter</a>, or in my formal attire (read: pyjamas) at <a class="color-begonia" href="https://www.linkedin.com/in/rosenicholsuk">LinkedIn</a>.</p>
      </div>
    </section>
    <section class="bg-light-cyan">
      <div class="section-content pad-t-2xl pad-h-l">
        <span class="mar-b-s text-2xl letter-s font-dosis">That’s it!</span>
        <p class="text-m mar-b-none">We're done here.</p>
      </div>
    </section>
  </article>
{% endblock %}

{% block footer_js %}
  {#<script src="/js/rtg.js"></script>#}
  <script src="/js/transform-email.js"></script>
{% endblock %}