/* 
    Document   : miniproject3
    Created on : Dec 14, 2011, 3:58:22 PM
    Author     : Rose
    Description:
        Purpose of the stylesheet follows.
*/

body {
  font-family: 'Minion Pro', Georgia, serif;
}

#backhome {
  position: fixed;
  top: -13px;
  left: 3px;
  border: 0;
}

p {
  font-size:14px;
  line-height: 1.6em;
}

a {
color: #6098C6;
  text-decoration: none;
}

.clear {
  clear: both;
}

#wrapper {
  width: 680px;
  margin: 0 auto;
/*  border: 2px dashed black;*/
  padding:  20px;
}

#wrapper_watercontainer {
  
  width: 40px;
  height: 260px;
  background-color: #FFF;
  float: left;
  margin: -6px 20px 0 0;
  padding: 18px 10px 10px 0;
/*  border: 1px solid black;*/
}


#area_choice,
#type_choice {
  width: 588px;
  margin: 10px 0 10px 0;
  border: 1px solid #CCC;
  padding: 0 10px;
  float: right;
}

#data_container {
  width: 568px;
  min-height: 300px;
  background-color: #FFF;
  border: 1px solid #CCC;
  float: right;
  padding: 0 20px 20px 20px;
  margin: 10px 0 0 0;
}

#barchartinfo {
  float: left;
  width: 260px;
  margin-top: 14px;
  margin-left: 24px;
/*  border: 1px solid red;*/
  text-align: center;
}

#piechartinfo {
  float: right;
  width: 200px;
  margin-top: 50px;
/*  border: 1px solid red;*/
  text-align: center;
}

#waterlevel_1 {
  margin-top: 18px;
  margin-left: -35px;
}

#waterlevel_2 {
margin-left: -36px;
margin-top: 18px;  
}


#waterlevel_3 {
  margin-top: 18px;
  margin-left: -36px;
}

#waterlevel_4 {
  margin-top: 18px;
  margin-left: -36px;
}

#waterlevel_5 {
  margin-left: -35px;
}

#waterlevel_1,
#waterlevel_2,
#waterlevel_3,
#waterlevel_4,
#waterlevel_5 {
  border: none;
  padding-left: 4px;
}

img.s-asia-pop-1,
img.s-asia-area-1 {
  float: left;
/*  margin-right: 40px;*/
margin-top: 34px;
}

img.s-asia-pie-pop-5,
img.s-asia-pie-area-5 {
  float: right;
}

#footer {
  text-align: center;
  margin-top: 26px;
}

/* - - - - - - - - - - - - NAVIGATION - - - - - - - - - - - - */


#waterlevel_1 a {
  display: block;
  padding: 0;
  width: 66px; height: 22px;
  overflow: hidden;
  background: url('../images/waterlevel_1.png') left top no-repeat;
}

#waterlevel_1 a:hover {
  background: url('../images/waterlevel_1.png') 0 -22px no-repeat;
}

#waterlevel_2 a {
  display: block;
  padding: 0;
  width: 72px; height: 22px;
  overflow: hidden;
  background: url('../images/waterlevel_2.png') left top no-repeat;
}

#waterlevel_2 a:hover {
  background: url('../images/waterlevel_2.png') 0 -22px no-repeat;
}

#waterlevel_3 a {
  display: block;
  padding: 0;
  width: 69px; height: 22px;
  overflow: hidden;
  background: url('../images/waterlevel_3.png') left top no-repeat;
}

#waterlevel_3 a:hover {
  background: url('../images/waterlevel_3.png') 0 -22px no-repeat;
}

#waterlevel_4 a {
  display: block;
  padding: 0;
  width: 71px; height: 22px;
  overflow: hidden;
  background: url('../images/waterlevel_4.png') left top no-repeat;
}

#waterlevel_4 a:hover {
  background: url('../images/waterlevel_4.png') 0 -22px no-repeat;
}

#waterlevel_5 a {
  display: block;
  padding: 0;
  width: 69px; height: 22px;
  overflow: hidden;
  background: url('../images/waterlevel_5.png') left top no-repeat;
}

#waterlevel_5 a:hover {
  background: url('../images/waterlevel_5.png') 0 -22px no-repeat;
}



/* - - - - - - - - - - - - ACTIVE STATES - - - - - - - - - - - - */


#waterlevel_1 a,
#waterlevel_2 a,
#waterlevel_3 a,
#waterlevel_4 a,
#waterlevel_5 a {
/*  background-position: left bottom;*/
} 
