{% extends "page/page.twig" %}

{% block bodyClass %}
{% endblock %}

{% block header %}
{% endblock %}

{% block nav %}
{% endblock %}

{% block content %}
  <section class="styleguide-section">
    <h1>Colours</h1>
    <ul class="styleguide-colors">
      <li class="styleguide-colors__item">
        <span class="styleguide-swatch" style="background: #ffffff; border: 1px solid #e2e2e2"></span>
        <span class="styleguide-swatch-label">$color-white</span>
        <span class="styleguide-swatch-label">#ffffff</span>
      </li>
      <li class="styleguide-colors__item">
        <span class="styleguide-swatch" style="background: #e2e2e2"></span>
        <span class="styleguide-swatch-label">$color-grey6</span>
        <span class="styleguide-swatch-label">#e2e2e2</span>
      </li>
      <li class="styleguide-colors__item">
        <span class="styleguide-swatch" style="background: #a1a1a1"></span>
        <span class="styleguide-swatch-label">$color-grey5</span>
        <span class="styleguide-swatch-label">#a1a1a1</span>
      </li>
      <li class="styleguide-colors__item">
        <span class="styleguide-swatch" style="background: #808080"></span>
        <span class="styleguide-swatch-label">$color-grey4</span>
        <span class="styleguide-swatch-label">#808080</span>
      </li>
      <li class="styleguide-colors__item">
        <span class="styleguide-swatch" style="background: #666666"></span>
        <span class="styleguide-swatch-label">$color-grey3</span>
        <span class="styleguide-swatch-label">#666666</span>
      </li>
      <li class="styleguide-colors__item">
        <span class="styleguide-swatch" style="background: #3b3b3b"></span>
        <span class="styleguide-swatch-label">$color-grey2</span>
        <span class="styleguide-swatch-label">#3b3b3b</span>
      </li>
      <li class="styleguide-colors__item">
        <span class="styleguide-swatch" style="background: #2b2b2b"></span>
        <span class="styleguide-swatch-label">$color-grey1</span>
        <span class="styleguide-swatch-label">#2b2b2b</span>
      </li>
      <li class="styleguide-colors__item">
        <span class="styleguide-swatch" style="background: #000000"></span>
        <span class="styleguide-swatch-label">$color-black</span>
        <span class="styleguide-swatch-label">#000000</span>
      </li>
    </ul>
    <ul class="styleguide-colors">
      <li class="styleguide-colors__item">
        <span class="styleguide-swatch" style="background: #c7fcff"></span>
        <span class="styleguide-swatch-label">$color-teal3</span>
        <span class="styleguide-swatch-label">#c7fcff</span>
      </li>
      <li class="styleguide-colors__item">
        <span class="styleguide-swatch" style="background: #00a3ad"></span>
        <span class="styleguide-swatch-label">$color-teal2</span>
        <span class="styleguide-swatch-label">#00a3ad</span>
      </li>
      <li class="styleguide-colors__item">
        <span class="styleguide-swatch" style="background: #038890"></span>
        <span class="styleguide-swatch-label">$color-teal1</span>
        <span class="styleguide-swatch-label">#038890</span>
      </li>
    </ul>
    <ul class="styleguide-colors">
      <li class="styleguide-colors__item">
        <span class="styleguide-swatch" style="background: #6b3d94"></span>
        <span class="styleguide-swatch-label">$color-purple</span>
        <span class="styleguide-swatch-label">#6b3d94</span>
      </li>
      <li class="styleguide-colors__item">
        <span class="styleguide-swatch" style="background: #a3022d"></span>
        <span class="styleguide-swatch-label">$color-red</span>
        <span class="styleguide-swatch-label">#a3022d</span>
      </li>
      <li class="styleguide-colors__item">
        <span class="styleguide-swatch" style="background: #df3366"></span>
        <span class="styleguide-swatch-label">$color-pink</span>
        <span class="styleguide-swatch-label">#df3366</span>
      </li>
      <li class="styleguide-colors__item">
        <span class="styleguide-swatch" style="background: #e8ac35"></span>
        <span class="styleguide-swatch-label">$color-yellow</span>
        <span class="styleguide-swatch-label">#e8ac35</span>
      </li>
    </ul>
  </section>

  <section class="styleguide-section">
    <h1>Fonts</h1>
    <p style="font-family: 'Roboto'; font-weight: 300; font-size: 20px;">Roboto light: font-weight 300</p>
    <p style="font-family: 'Roboto'; font-weight: 400; font-size: 20px;">Roboto normal: font-weight 400</p>
    <p style="font-family: 'Roboto'; font-weight: 500; font-size: 20px;">Roboto medium: font-weight 500</p>
    <p style="font-family: 'Roboto'; font-weight: 700; font-size: 20px;">Roboto bold: font-weight 700</p>
  </section>
{% endblock %}

{% block footer %}
{% endblock %}