.idea
.DS_Store
drupal/sites/default/settings.php
drupal/sites/default/settings.*.php
drupal/web/vendor/*
silex/settings.php
silex/settings_taxonomy.php
silex/settings.*.php
silex/vendor/*
silex/web/css/*
.sass-cache
silex/twig_cache/*
silex/web/sessions
node_modules
npm-debug.log
__clear_opcache_*.php