# Ignore dependencies that are managed with Composer.
# Generally you should only ignore the root vendor directory. It's important
# that core/assets/vendor and any other vendor directories within contrib or
# custom module, theme, etc., are not ignored unless you purposely do so.
drupal/web/vendor
drupal/web/vendor/**/.git

# Ignore configuration files that may contain sensitive information.
drupal/web/sites/*/settings*.php
drupal/web/sites/*/settings.*.php
drupal/web/sites/*/*services*.yml

# Ignore paths that contain user-generated content.
drupal/web/sites/*/files
drupal/web/sites/*/private

# Ignore SimpleTest multi-site environment.
sites/simpletest

# Ignore IDE / OS things:
.idea
.DS_Store
._.DS_Store
tmp

# Ignore Sass caches
.sass-cache

# Ignore front-end sensitive files.
silex/settings.php
silex/settings.*.php
silex/vendor/*
silex/web/css/*
__clear_opcache_*.php

# Ignore Twig cache files.
silex/twig_cache/*

# Misc
npm-debug.log
silex/node_modules
silex/web/sessions
