# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php

# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private

# Ignore Mac files
.DS_Store

# Ignore the dev enviroment files
dev
staging

# Ignore anything even vaguely DB config related
db_config.php
db_config.inc.php

.ftpquota

# Capistrano
Capfile
config

# SASS
.sass-cache
