@font-face {
    font-family: 'BanksiaRegular';
    src: url('../fonts/banksia-webfont.eot');
    src: url('../fonts/banksia-webfont.eot?iefix') format('eot'),
         url('../fonts/banksia-webfont.woff') format('woff'),
         url('../fonts/banksia-webfont.ttf') format('truetype'),
         url('../fonts/banksia-webfont.svg#webfontNhlM8z2Q') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'BanksiaBold';
    src: url('../fonts/banksb20-webfont.eot');
    src: url('../fonts/banksb20-webfont.eot?iefix') format('eot'),
         url('../fonts/banksb20-webfont.woff') format('woff'),
         url('../fonts/banksb20-webfont.ttf') format('truetype'),
         url('../fonts/banksb20-webfont.svg#webfontBcLsXBs2') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'BanksiaBlack';
    src: url('../fonts/banksb26-webfont.eot');
    src: url('../fonts/banksb26-webfont.eot?iefix') format('eot'),
         url('../fonts/banksb26-webfont.woff') format('woff'),
         url('../fonts/banksb26-webfont.ttf') format('truetype'),
         url('../fonts/banksb26-webfont.svg#webfontX0ZMM3MM') format('svg');
    font-weight: normal;
    font-style: normal;

}

