@charset "UTF-8";
/* CSS Document */

* {
	margin: 0;
	padding: 0;
	color: #ebebeb;
	font-family: Helvetica, sans-serif;
	font-size: 12px;
}

p {
	margin-bottom: 1.75em;
	line-height: 1.917em;
}

h1 {
	font-size: 2.75em;
	margin-left: -26px;
	margin-bottom: 18px;
	margin-top: 18px;
	font-family: 'BanksiaRegular', Helvetica, sans-serif;
}

h2 {
	font-size: 1.5em;
	margin-left: -26px;
	margin-bottom: 20px;
}

h3 {
	margin-left: -26px;
}



/* - - - - - - - - - - - - - - Layout/Structure - - - - - - - - - - - - - - */



body {
	background-color: #000;
}

#topbg {
	background: #000 url('../images/topbg.jpg') no-repeat top center;
	max-width: 1600px;
	min-width: 909px;
	min-height: 1200px;
	margin: 0 auto;
	overflow: visible;
}

#logo {
	width: 906px;
	height: 519px;
	background: transparent url('../images/logo.png') no-repeat top center;
	margin-left: -100px;
}

#logowrapper {
	width: 909px;
	height: 524px;
	margin: 0 auto;
}

#nav {
	margin-top: 18px;
	margin-left: -40px;
	float: left;
}

#main {
	width: 760px;
	margin: -110px auto 0 auto;
}

#content {
	float: right;
	width: 590px;
	margin-left: -25px;
}

#footer {
	height: 402px;
	background: url('../images/footer.png') repeat-x bottom left;
	clear: both;
}

#footernav {
	height: 180px;
	width: 360px;
	position: relative;
	top: 216px;
	left: 280px;
}

#sponsors {
	position: relative;
	top: 24px;
	left: 680px;
	width: 170px;
	height: 193px;
}

#search {
	height: 20px;
	float: right;
	margin-top: 20px;
}




/* - - - - - - - - - - - - - - Search Styles - - - - - - - - - - - - - - */

#search input {
	color: #CCC;
	display: inline;
}

#search #submit {
color: #000;
}



/* - - - - - - - - - - - - - - General Styles - - - - - - - - - - - - - - */


p.intro {
	width: 400px;
}

.clear {
	clear: both;
}

img.header {
	margin-left: -26px;
}

#homeinfo {
	margin-left: -36px;
	margin-bottom: 30px;
}

.lineupfri {
	margin-top: -18px;
}

.lineupsat {
	margin-top: -2px;
}


/* - - - - - - - - - - - - - - - - Footer - - - - - - - - - - - - - - - - */


.footerlinks {
	width: 120px;
	float: right;
	margin-right: 10px;
}

.footerlinks a {
	font-size: 1.5em;
	line-height: 1.5em;
}

img.sponsorbbc2 {
	margin-left: 26px;
	width: 132px;
}

img.sponsorthatchers {
	margin: 0 auto;
	width: 167px;
}

img.sponsorfroots {
	margin-left: 4px;
	width: 168px;
}



/* - - - - - - - - - - - - - - Ticket Info - - - - - - - - - - - - - - */

table {
	line-height: 1.917em;
}

td {
	padding: 8px;
	font-size: 1.25em;
}

td.purchase {
	line-height: 1em;
}

td.tickettype {
	width: 110px;
}




/* - - - - - - - - - - - - - News Sources Home page style - - - - - - - - - - - - - */

#twitter {
	width: 250px;
	float: left;
}

#twitter p {
	line-height: 1.5em;
	font-size: 0.917em;
}

span.twittertime {
	font-size: 0.833em;
	color: #b1b373;
}

#newssources {
	float: left;
	width: 310px;
	margin-left: 30px;
}

.newsicon {
	margin-bottom: 20px;
}

.mailingicon {
	margin-top: 20px;
	margin-bottom: 20px;
}

.inputfield {
	padding: 4px;
	color: #CCC;
}

.button {
	color: #000;
}


/* - - - - - - - - - - - - - Navigation - - - - - - - - - - - - - */


ul {
	list-style-type: none;
}

li a:link{
	font-size: 20px;
	color: #ebebeb;
	text-decoration: none;
}

li a:visited{
	font-size: 20px;
	color: #ccc;
	text-decoration: none;
}

li a:hover{
	font-size: 20px;
	color: #b1b373;
}

li a:active{
	font-size: 20px;
	color: #ebebeb;
	text-decoration: none;
}

li {
	margin-bottom: 24px;
}

li.current a {
	color: #b1b373;
}

ul ul a{
	padding-left: 16px;
}

ul ul li a:link {
	font-size: 14px;
	color: #eceac7;
}

ul ul li.first {
	margin-top: -10px;
	font-size: 14px;
}

ul ul li {
	margin-bottom: 18px;
}

nav ul li {
	font-family: 'BanksiaRegular', sans-serif;
}

.header {
	margin-bottom: 16px;
}


/* - - - - - - - - - - General Link Styles - - - - - - - - - - */


img.a {
	border: none;
}

img {
border: none;
}

a {
	font-family: 'BanksiaRegular', sans-serif;	
	color: #eceac7;
	border: none;
}

a:link {
	color: #eceac7;
	text-decoration: none;
}

a:visited {
	color: #ccc;
	text-decoration: none;
}

a:hover {
	color: #b1b373;
	text-decoration: none;
}

a:active {
	color:#eceac7;
	text-decoration: none;
}



/* - - - - - - - - - - Active Link Styles - - - - - - - - - - */


#locationpage #location a,
#festivalmappage #festivalmap a,
#foodanddrinkpage #foodanddrink a,
#campinginfopage #campinginfo a ,
#foodanddrinkpage #foodanddrink,
#welfareandsafetypage #welfareandsafety a {
	color: #eceac7;
	font-style: italic;
	text-decoration: none;
	font-size: 14px;
} 