/*------------------------------------*\
    MAIN NAVIGATION
\*------------------------------------*/

.main-nav {
  display: none;
  position: relative;
  clear: both;
  @media #{$desktop} {
    display: inline-block !important;
    float: right;
  }
  &.main-nav--active {
    display: block
  }
}

.nav-item {
  @media #{$desktop} {
    display: inline-block;
    border: none;
    margin-left: 0.5em;
  }
}

.nav-item__link {
  margin-top: -0.75em;
  &:hover {
    @media #{$desktop} {
      color: #bee3c8;
    }
  }
}
