/*------------------------------------*\
    COLOURS
\*------------------------------------*/

$white: #ffffff;
$light-cyan: #d7fff1;
$outer-space: #404e5c;
$key-lime: #e7f59e;
$ruber: #ce5374;
$begonia: #f56476;
$cherry: #cc3363;

$black: #111111;



/*------------------------------------*\
    FONTS
\*------------------------------------*/

$dosis: 'Dosis', sans-serif;
$open-sans: 'Open Sans', sans-serif;
$mono: Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
