/*------------------------------------*\
    LAYOUT
\*------------------------------------*/

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

body {
  font-family: $open-sans;
  font-weight: 400;
  color: #223127;
  font-size: 12px;
  @media #{$desktop-narrow} {
    font-size: 14px;
  }
  @media #{$desktop} {
    font-size: 16px;
  }
}

.section-content {
  margin: 0 auto;
  max-width: 1200px;
}
