/*------------------------------------*\
    Alerts
\*------------------------------------*/

.alerts {
  margin: 1em 0;
  border:1px solid #000000;
  padding:1em
}

.alerts li {
  list-style: none;
}

.alerts.success {
  background-color : lightgreen;
  color: black;
}

.alerts.warning {
  background-color : orangered;
  color: white;
}

.alerts.info {
  background-color : deepskyblue;
  color: black;
}

.alerts.alert {
  background-color : darkred;
  color: white;
}

.alerts.secondary {
  background-color : darkgrey;
  color: black;
}
