$susy: (
  /* Tells Susy to use 8 columns initally, for mobile */
  columns: 8,
  /* Tells Susy that the container has a max-width of 1120px */
  container: 1140px,
  // 70px columns, 20px gutters
  gutters: 20px/51.25px,
  gutter-position: after,
  //debug: (image: show)
 );

.page-body-wrap,
.site-header > div,
.region-promo > div {
	@include container;
	padding-left: 1rem;
  padding-right: 1rem;

  // Breakpoint for tablet view
  @include susy-breakpoint($tablet, 12) {
    @include show-grid();
  }

  // Breakpoint for desktop view
  @include susy-breakpoint($desktop, 16) {
    @include show-grid();
  }
}

.node-banner.has-banner-text .banner-header .content {
  @include breakpoint($mobile) {
    padding-left: 0;
    padding-right: 0;
  }
}

.region-promo .block-rose {
  @include gallery(4 of 8);
  @include breakpoint($tablet) {
    @include gallery(6 of 12);
  }
  @include breakpoint($desktop) {
    @include gallery(4 of 16);
  }
}

.sidebar-second {
  .main {
    @include breakpoint($tablet) {
      @include span(11 of 16);
    }
  }
  .sidebar {
    @include breakpoint($tablet) {
      @include span(5 of 16 last);
    }
  }
}

.project-contributions > div {
  @include gallery(3 of 9);
}


