/* Messages */

.messages {
  margin-bottom: 1em;
  border: 3px dotted;
  border-color: #d0d0d0;
  background: #fafafa;
  font-size: 1.125em;
  padding: 0.75em;
  @include breakpoint($tablet) {
    font-size: 1.25em;
    padding: 0.75em 1em;
  }
  &.error {
    border-color: #d0d0d0;
    background-color: #f8ebee;
  }
}
