// Mixins

@mixin clearfix {
  &:after {
    content: " ";
    display: block;
    clear: both;
  }
}

@mixin underline-h2($color) {
  color: #2c2c2c;
  border-bottom: 3px solid $color;
  padding-bottom: 0.25em;
  margin-bottom: 0.5em;
}
