/*------------------------------------*\
    BREAKPOINTS
\*------------------------------------*/

// Desktop / generic

$desktop-narrow-min-width: 780px;
$desktop-min-width: 980px;
$desktop-wide-min-width: 1400px;
$desktop-x-wide-min-width: 1600px;

$desktop-narrow: "screen and (min-width: #{$desktop-narrow-min-width}) and (min-device-width: 667px)";
$desktop: "screen and (min-width: #{$desktop-min-width}) and (min-device-width: 667px)";
$desktop-wide: "screen and (min-width: #{$desktop-wide-min-width}) and (min-device-width: 667px)";
$desktop-x-wide: "screen and (min-width: #{$desktop-x-wide-min-width}) and (min-device-width: 667px)";

// Mobile

$not-mobile: "screen and (min-device-width: 667px)";
$iphone-protrait: "screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: portrait)";



//@media only screen and (min-width: 768px), not screen and (min-device-width: 768px) and (max-device-width: 1024px)