.styleguide-section {
  width: 90%;
  margin: 0 auto 3em;
  h1 {
    border-bottom: 2px solid #cccccc;
    margin-bottom: 1em;
  }
}

.styleguide-colors {
  padding: 0;
}

.styleguide-colors__item {
  display: inline-block;
  list-style: none;
  margin: 0 0.5em 0.5em 0;
  padding: 0.5em;
  min-width: 8em;
  max-width: 10em;
  flex: auto;
  border: 1px solid #ddd;
  border-radius: 8px;
  background: $white;
}

.styleguide-swatch {
  display: block;
  height: 4em;
  min-width: 4em;
  margin-bottom: 0.3em;
  border-radius: 5px;
}

.styleguide-swatch-label {
  display: block;
}