@charset UTF-8;

/* CSS Document */
* {
	margin:0;
	padding:0;
	font-family: "Lucida Grande";
}

body {
	width: auto;
}

p {
	line-height: 2em;
}

h1 {
	margin-bottom: 10px;
	font-family: Palatino;
}

h2 {
	margin-top: 20px;
	margin-bottom: 10px;
	font-family: Palatino;
}

#contentbg {
	width:960px;
	background: url('../images/sidestripes.png') repeat-y top left;
/* #DFF5F8  */
	float:left;
}

#content {
	float:left;
	margin-left:200px;
	min-width: 800px;
	max-width: 960px;
	padding-left: 30px;
	padding-bottom: 50px;
}

#bannerhome {
	margin:0 auto;
	background: url('../images/banner.png') repeat-x 0 500px;
	height:800px;
	width: auto;
}

#banner {
	margin:0 auto;
	background: url('../images/divider.gif') repeat-x 0 500px;
	height:800px;
}

#bannertext {
	height: 190px;
/* 	clear: left; */
	margin-top:20px;
	padding: 10px 10px 10px 0px;
	line-height:2.5em;
}

#latestlost {
	margin-top: 20px;
}

#showitems {
	margin-top: 54px;
}

div.itemlost {
	margin-right: 16px;
	margin-bottom: 8px;
	margin-top: 8px;
	padding: 10px;
	font-size: 0.75em;
	float: left;
	width: 210px;
	height: 130px;
	border: 1px solid #F5E5EA;
}

div.itemlosthalf {
	width: 330px;
	height: 290px;
	margin: 10px 15px;
	padding: 10px;
	float: left;
}

div.itemlosthalf p {
	font-size: 0.813em;	
}

#logobg {
	background-color:#fff;
	width:774px;
	height:500px;
	float:right;
}

#logo {
	height:458px;
	width:351px;
	float:left;
	margin:20px 0 20px 0px;
}

#homebuttons {
	float: right;
	background: transparent url('../images/topbg.png') no-repeat top right;
	margin-right: 20px;
	margin-top: 30px;
	height: 458px;
}

#searchform {
	margin-bottom: 34px;
	margin-right: 30px;
	float: right;
}

.navigation {
	width: 200px;
	height: 42px;
	margin: 10px 10px 10px 0px;;
}

img.reportsighting {
	margin-top: 10px;
	margin-right: 10px;
}

textarea {
	height: 100px;
	width: 200px;
}

#ownerdetailstable {
	margin-top: 30px;
	margin-left: -8px;
}

#ownerdetailstable td {
	padding: 8px 0px;
}

#ownerdetailstable tbody,
#ownerdetailstable tr {
	padding: 8px 0px;
}




/* - - - - - - - - - - - - - - Input Form Tables - - - - - - - - - - - - - - */


#ownerdetailstable, #itemdetailstable {
	border: none;
}

#ownerdetailstable td, #itemdetailstable td {
	font-size: 0.75em;
	padding: 6px;
}

#itemdetailstable td.colwidth {
	width: 100px;
	padding: 8px 0px;
}




/* - - - - - - - - - - - - - - Link styles - - - - - - - - - - - - - - */


a:link {
	color: #406379;
	text-decoration: none;
}

a:visited {
	color: #A4B2BF;
}

a:hover {
	color: #2a3e4c;
}

a:active {
	color: #406379;
}




/* - - - - - - - - - - - - - - General - - - - - - - - - - - - - - */

.clear {
	clear:both;
}