@charset "UTF-8";
/* CSS Document */

* {
	margin: 0px;
	padding: 0px;
}

body {
	background-color: #edeef0;
	font-family: 'Lucida Grande', Tahoma, Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 1.6em;
}

a img {
	border: none;
}



/* - - - - - - - - - - - - - - - - - - - CONTAINER - - - - - - - - - - - - - - - - - - - */

#wrapper {
	margin: 0 auto;
	background: transparent url('../images/headerbg.jpg') repeat-x top center;
	min-width: 800px;
}

#innerwrapper { /* centers all content */
	width: 1100px;
	border: 1px solid aqua;
	float: left;
}

#detailwrapper {
	min-width: 700px;
	max-width: 860px;
	float: left;
}


/* - - - - - - - - - - - - - - - GENERAL MOJO AND MULA - - - - - - - - - - - - - - - */


h1 {
	color: #252525;
	font-size: 32px;
	font-family: 'LandliebeRegular', Helvetica, sans-serif;
	padding-bottom: 10px;
	margin-top: 4px;
	margin-bottom: 12px;
}

#navheader {
	color: #252525;
	font-size: 32px;
	font-family: 'LandliebeRegular', Helvetica, sans-serif;
	padding-bottom: 10px;
	margin-bottom: 2px;
}

h2 {
	color: #252525;
	font-size: 16px;
	font-family: 'Lucida Grande', Helvetica, sans-serif;
	margin-top: 0px;
	margin-bottom: 12px;
}

h3 {
	color: #252525;
	font-size: 12px;
	font-weight: bold;
	font-family: 'Lucida Grande', Helvetica, sans-serif;
	margin-top: 10px;
	margin-bottom: 4px;
}

input {
	background-color: #FFF;
	color: #636363;
	border: 1px solid #CCC;
	font-size: 11px;
	padding: 3px;
}

.button {
	padding: 2px;
	margin-left: 3px;
	background-color: #f5f6f0;
}

.error {
	color: #F03;
	font-size: 16px;
	font-family: Arial, Helvetica, sans-serif;
	background-color: #FFF;
}

.centre {
	margin: 0 auto;
}


/* - - - - - - - - - - - - - - - - - - - HEADER ELEMENTS - - - - - - - - - - - - - - - - - - - */

#header {
	clear: both;
	height: 282px;
	min-width: 800px;
}

#logo {
	margin-top: 22px;
	margin-left: 180px;
}

#search {
	width: 200px;
	float: right;
	margin-right: 30px;
	margin-top: 30px;
}

#search p {
	text-align: right;
}

#searchform {
	float: right;
	margin-top: 10px;
	font-size: 9px;
}


#searchbutton {
	padding: 2px;
	color: #999;
}

#cart {
	max-width: 60px;
	margin-top: 50px;
	float: right;
	text-align: center;
}



/* - - - - - - - - - - - - - - - - - - - NAVIGATION - - - - - - - - - - - - - - - - - - - */


#navigation {
	width: 664px;
	margin-left: 180px;
	margin-top: 2px;
}

div.navsection {
	width: 105px;
	margin-right: 40px;
	margin-top: 38px;
	float: left;
	line-height: 25px;
}

p.navoption {
	font-size: 15px;
	font-family: 'NadiaSerifNormal', serif;
}

a.headernav:hover {
	color: #acadcb;
	background-color: #F5F5F5;
}

#navigation a {
	color: #000;
	text-decoration: none;
}



/* - - - - - - - - - - - - - - - - - - - SIDEBARS - - - - - - - - - - - - - - - - - - - */


#leftsidebar {
	padding-left: 160px;
}


/* - - - - - - - - - - - - - - - - - - - CONTENT ELEMENTS - - - - - - - - - - - - - - - - - - - */

#content {
	float: left;
	min-width: 663px;
	min-height: 260px;
/* 	max-width: 900px; */
/* 	margin-left: 200px; */
	background-color: #fdfff9;
	padding: 20px;
}

#content p {
	padding-bottom: 10px;
}

div.itemgallery {
	width: 194px;
	float: left;
	margin-right: 40px;
	margin-bottom: 30px;
/* 	border: 1px solid red; */
}

.clear {
	clear: both;
}

.gallerypic {
	border: 1px solid #c2c2da;
}

.detailpic {
	float: left;
	border: 1px solid #c2c2da;
	width: 250px;
	margin-right: -100%;
	margin-top: -236px;
}

#detailcontent {
	min-width: 460px;
/* 	max-width: 500px; */
	margin-left: 280px;
/* 	padding-right: 100px; */
}

#detailcontent p {
	padding-right: 100px;
	max-width: 600px;
}



/* - - - - - - - - - - - - - - - - - CART STYLES - - - - - - - - - - - - - - - */


#carttable {
	width: 100%;
	border: 1px solid red;
		border-collapse: collapse;
}

#carttable tr td {
	border: 1px solid #B2B4CD;
}


tr.tableheaders {
	text-align: center;
	background-color: #EDEEF0;
}

#carttable td {
	padding: 6px;
}

td.itemcol {
	width: 260px;
}

td.quantitycol {
	width: 90px;
}

td.pricecol {
	width: 100px;
}

.cartlinks {
	font-size: 12px;
	margin-right: 20px;
}

#login input.login {
	width: 120px;
}

img.cartthumb {
	height: 40px;
	padding-right: 10px;
	vertical-align: middle;
}


/* - - - - - - - - - - - - - - - - - CHECKOUT STYLES - - - - - - - - - - - - - - - */


label {
	font-family: 'Lucida Grande', Tahoma, Arial, Helvetica, sans-serif;
	font-size: 11px;
	padding: 4px 0;
	display: block;
}

div.labels {
	float: left;
	width: 74px;
/* 	border: 1px solid red; */
}

div.inputs {
	float: left;
}

div.inputs input {
	width: 140px;
	margin: 2px 0;
}

div.inputs select {
	margin: 3px 0 2px 0;
}

div.cardinputs select {
	margin: 4px 0 3px 0;
}

div.cardinputs input {
	margin: 2px 0;
}


/* - - - - - - - - - - - - - - - - - OVERRIDE LINK STYLES - - - - - - - - - - - - - - - */



.imagelink:hover {
	background-color: transparent;
}

.centre:hover {
	background-color: transparent;
}



/* - - - - - - - - - - - - - - - - - - - LINK STYLES - - - - - - - - - - - - - - - - - - - */


a {
	color: #acadcb;
	text-decoration: none;
}

a:hover {
	color: #acadcb;
}




/* - - - - - - - - - - - - - - - - - - - LOGIN STYLES - - - - - - - - - - - - - - - - - - - */


div.formsection {
	padding: 6px;
	border: 1px solid #EDEEF0;
	margin: 5px 0 7px 0;
	width: 240px;
}

div.formsectionright {
	padding: 6px;
	border: 1px solid #EDEEF0;
	margin: 5px 0 7px 0;
/* 	width: 240px; */
}

label.login {
	display: inline;
}

div.formsection input.floatright {
	float: right;
	position: relative;
	top: -2px;
}

div.formsectionright input.floatright {
	float: right;
	position: relative;
	top: -2px;
}

#logincolumnleft {
	float: left;
	width: 320px;
}

#logincolumnright {
	float: right;
	width: 220px;
}



/* - - - - - - - - - - - - - - - - - - FOOTER ELEMENTS - - - - - - - - - - - - - - - - - - */

#footer {
	height: 165px;
	clear: both;
	background: #fdfff9 url('../images/footerbg.jpg') repeat-x bottom center;
	padding: 0px 5px 0px 5px;
}

#footer p {
	color:#89817f;
	padding-top: 30px;
	text-align: center;
}

#footer p a {
	color: #89817f;
	border-bottom: 1px #89817f;
}

#footer p a:hover {
	color: #FFFFFF;
	background-color: #B8B9D7;
}

