@charset "UTF-8";
/* CSS Document */

body {
	padding: 0px;
	margin: 0px;
	background: url('../images/gradientbackgroundX.png');
	background-repeat: no-repeat;
	background-attachment: static;
	background-position: top center; 

}

div.glowlinewrapper {
	background: url('../images/glowline2.png');
	background-repeat: no-repeat;
	background-attachment: static;
	background-position: center;
	min-width: 1024px;
	max-width: 1680px;
	min-height: 1100px; /*1100*/
	margin-left: auto;
	margin-right: auto;

}

div.bottomrightwrapper {
	background: url('../images/bottomright2.png');
	background-repeat: no-repeat;
	background-attachment: static;
	background-position: bottom right;
	min-width: 1024px;
	max-width: 1680px;
	min-height: 1100px;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
}

div.wrapper {
	width: 1024px;
  min-height: inherit;
	margin-left: auto;
	margin-right: auto;
}

div.HG {
	width: 400px;
	height: 508px;
	float: left;
	margin-top: -168px;
	margin-left: 10px;
	margin-bottom: 171px;
}

div.topbox {
	width: 535px;
	height: 199px;
	float: right;
	position: relative;
	top: 5px;
  left: -45px;

}

div.maintextbox, div.twitter, div.contact {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

p.contact {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 10px;
}

h1 {
	font-size: 24px;
	text-align: center;
}

h1.twitter {
	text-align: center;
	font-size: 18px;
}

h1.contact {
	text-align: center;
	font-size: 18px;
}

div.maintextbox {
	font-size: 12px;
	padding: 10px;
	width: 515px;
	min-height: 706px;
	border: 3px solid #c5c5c5;
  background: url('../images/opacitywhite60.png');
	float: right;
	margin-top: 20px;
	margin-right: 45px;
	margin-bottom: 200px;
}

div.maintextboxphotos {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 12px;
	padding: 10px;
	overflow:visible;
	width: 515px;
	min-height: 415px;
	border: 3px solid #c5c5c5;
  background: url('../images/opacitywhite60.png');
	float: right;
	position: relative;
	top: 20px;
  left: -45px;
	text-align: center;
	margin-bottom: 60px;
}

a:link {color: #909; text-decoration: none; }
a:active {color: #909; text-decoration: none; }
a:visited {color:#909; text-decoration: none; }
a:hover {color:#6C6; text-decoration: none; } /*0FC 0C9*/

/*div.footer {
	width: 100%;
	min-height: 265px;
	border: 3px solid #c5c5c5;
  background: url('opacitywhite60.png');
	float: left;
	position: relative;
	top: 30px;
	left: 45px;
}*/

div.LHwrapper {
	width:360px;
/*	border: 1px solid blue;*/
	float: left;
	position: relative;
	left: 14px;
	top: -150px;
}

div.twitter {
	padding: 7px;
/*	margin-left: 20px;*/
	float: left;
	width:146px;
	min-height: 250px;
	height: 370px;
	border: 3px solid #c5c5c5;
	background: url('../images/opacitywhite80.png');
/*	position: relative;
	left: 50px;*/
}

div.contact {
/*	margin-right: 20px;*/
	padding: 7px;
	float: right;
	width: 146px;
	height: 370px;
	border: 3px solid #c5c5c5;
  background: url('../images/opacitywhite80.png');
/*	position: relative;
	left: 70px;*/
}

img.socialmedia {
	width: 45px;
	height: 45px;
}


/*TWITTER*/

p.twitter {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 12px;
}

.twitters ul {
  list-style: none;
  padding: 0;
}

#tweet,time,status {
  font-size: 11px;
}

a.twittertime {
  font-size: 9px;
  color: #999;
}


/* - - - - - - - - - - - - - CSS NAVIGATION - - - - - - - - - - - - - - */


ul.navigation {/*#info*/
  margin:0 auto; 
  padding:0; 
  position:relative; 
  width:511px; 
  height:199px; 
  background: url('../images/links.png'); 
  z-index:1; 
  overflow:hidden;
}
	
li.navigation {
  list-style-type:none;
}
	
a#music.navigation {
  display:block; 
  width:99px; 
  height:31px; 
  padding-top:0px; 
  background:transparent; 
  overflow:hidden; 
  z-index:10;
}
	
a#news.navigation {
  display:block; 
  width:80px; 
  height:32px; 
  padding-top:0px; 
  background:transparent; 
  overflow:hidden; 
  z-index:10;
}
	
a#tour.navigation {
  display:block; 
  width:85px; 
  height:31px; 
  padding-top:0px; 
  background:transparent; 
  overflow:hidden; 
  z-index:10;
}

a#photos.navigation {
  display:block; 
  width:95px; 
  height:26px; 
  padding-top:0px; 
  background:transparent; 
  overflow:hidden; 
  z-index:10;
}
	
a#merch.navigation {
  display:block; 
  width:86px; 
  height:32px; 
  padding-top:0px; 
  background:transparent; 
  overflow:hidden; 
  z-index:10;
}

a#youtube {
  display:block; 
  width:130px; 
  height:50px; 
  padding-top:0px; 
  background:transparent; 
  overflow:hidden; 
  z-index:10;
	position:absolute; 
  left:15px; 
  top:8px; 
}

a#itunes {
  display:block; 
  width:65px; 
  height:65px; 
  padding-top:0px; 
  background:transparent; 
  overflow:hidden; 
  z-index:10;
	position:absolute; 
  left:442px; 
  top:0px; 
}

a#twitter {
  display:block; 
  width:127px; 
  height:70px; 
  padding-top:0px; 
  background:transparent; 
  overflow:hidden; 
  z-index:10;
	position:absolute; 
  left:17px; 
  top:80px; 
}

a#facebook {
  display:block; 
  width:45px; 
  height:60px; 
  padding-top:0px; 
  background:transparent; 
  overflow:hidden; 
  z-index:10;
	position:absolute; 
  left:465px; 
  top:80px; 
}

 a#music {
  position:absolute; 
  left:0px; 
  top:164px; 
  background:url('../images/navigation/musicrollover.png') no-repeat -99px 0px; /*Positions the image so they can't be seen until rolled over*/
}

a#news {
  position:absolute; 
  left:113px; 
  top:163px; 
  background:url('../images/navigation/newsrollover.png') no-repeat -80px 0px;
}

a#tour {
  position:absolute; 
  left:208px; 
  top:163px; 
  background:url('../images/navigation/tourrollover.png') no-repeat -85px 0px;
}

a#photos {
  position:absolute; 
  left:306px; /*POSITIONS THE CLICKABLE REGION*/
  top:166px; 
  background:url('../images/navigation/photosrollover.png') no-repeat -95px 0px;
}

a#merch {
  position:absolute; 
  left:425px; 
  top:163px; 
  background:url('../images/navigation/merchrollover.png') no-repeat -86px 0px;
}


a#music:hover {
	background:url('../images/navigation/musicrollover.png') no-repeat 0px 0px;
}

a#news:hover {
	background:url('../images/navigation/newsrollover.png') no-repeat 0px 0px;
}

 a#tour:hover {
   background:url('../images/navigation/tourrollover.png') no-repeat 0px 0px;
 }
 
a#photos:hover {
	background:url('../images/navigation/photosrollover.png') no-repeat 0px 0px;
}
	
a#merch:hover {
	background:url('../images/navigation/merchrollover.png') no-repeat 0px 0px;
}

/*a#music:hover, a#news:hover, a#tour:hover, a#photos:hover, a#merch:hover {
  background-position: 0px 0px;
}*/


th {
	font-size: 14px;
	font-weight: bold;
}

td {
	border: 2px solid 333;
}

table {
	width: 100%
}
img.cover {
	width: 100px;
	height: 100px;
}


div.videoplayer {
	width: 320px;
	height: 278px;
	margin-left: auto;
	margin-right: auto;
}

h3.links {
	text-align: center;
}

div.audioplayer {
	width: 380px;
	height: 430px;
	margin-left: auto;
	margin-right: auto;
}