@charset "UTF-8";
/* CSS Document */

html {
	font-size: 62.5%; /* WinIE text resize correction */
}

body {
	font-size: 1em; /* em is dependent on font size - make 1em equiv 10px */
	margin: 0;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	/* text-align: center; */
	color: #636363;
	padding: 0;
	background: #ffffff url('../images/background.jpg') no-repeat top center;
}

#wrapper {
 	max-width: 93em; 
 	min-width: 73em;
	margin: 0 auto;
	margin-bottom: 4.5em;
}


/* - - - - - - - - - - - - - - - - HEADER - - - - - - - - - - - - - - - - */


#header {

		/* webkit */
		background-image: -webkit-gradient(
		  linear, left top, left bottom, from(rgba(255, 255, 255, 1.0)),
		  to(rgba(255, 255, 255, 0))
		);
		
		/* mozilla - FF3.6+ */
		background: -moz-linear-gradient(bottom, rgba(255,255,255,0), rgba(255,255,255,1)), url(../images/mozheadergrad.jpg);
		
		/* IE 5.5 - 7 */
		filter: progid:DXImageTransform.Microsoft.gradient(
		  gradientType=0, startColorStr=#FFFFFF, endColor=0
		);
		
		/* IE8 uses -ms-filter for whatever reason... */
		-ms-filter: progid:DXImageTransform.Microsoft.gradient(
		  gradientType=0, startColorStr=#FFFFFF, endColor=0
		);	
 
	height: 22em; /* header section - 22em = 220px */
	max-width: 93em;
	min-width: 73em;
	padding: 0;
	margin: 4.5em 0 0 0;
	overflow: hidden;
}

#logo {
	width: 50.4em;
	height: 6em;
	border: none;
	margin: 8em 1em;
}


/* - - - - - - - - - - - - - - - - NAVIGATION BAR - - - - - - - - - - - - - - - - */


#navigation {
	max-width: 93em;
 	height: 3.8em;
	text-align: left;
	margin-top: 0;
	padding: 0;

		background: -webkit-gradient(
		    linear,
		    left bottom,
		    left top,
		    color-stop(0.32, rgb(237,237,237)),
		    color-stop(0.83, rgb(255,255,255))
		);
		
		background: -moz-linear-gradient(
		    center bottom,
		    rgb(237,237,237) 32%,
		    rgb(255,255,255) 83%
		);
		
		/* IE 5.5 - 7 */
		filter: progid:DXImageTransform.Microsoft.gradient(
		  gradientType=0, startColorStr=#FFFFFF, endColorStr=#EDEDED
		);
		
		/* IE8 uses -ms-filter for whatever reason... */
		-ms-filter: progid:DXImageTransform.Microsoft.gradient(
		  gradientType=0, startColorStr=#FFFFFF, endColorStr=#EDEDED
		);	
}




#sidebar{
	width: 21em; /* 23 */
	min-height: 70em;
	overflow: auto;
	float: left;
	margin-left: -100%;
	background: url('../images/opacitywhite80.png') repeat left top;
	border-top: 1px solid #fff;
	padding: 0 1em 0 1em;
}

#contentwrapper { /* 720px */
	float: left;
	width: 100%;
	border-bottom: 1px solid #fff;;
}

#content {
	margin-left: 23em; /* Set left margin to left column width */
	max-width: 72em;
	min-width: 51em;
	min-height: 70em;
	overflow: auto;
	background: url('../images/opacitywhite80.png') repeat left top;
	border-top: 1px solid #fff;
	margin-bottom: 1.2em;
	padding: 0 1em 0 1em;
}



/* - - - - - - - - - - - - - - - - HOME PAGE - - - - - - - - - - - - - - - - */


img.homepage {
	height: 12.4em;
	width: 16.5em;
}

div.linkscolumn {
	width: 20em;
	margin: 1em 3em 0 0;
	float: left;
}

div.learncolumn {
	max-width: 42em;
	min-width: 30em;
	margin: 1em 0 0 0;
	float: left;
}

#contentwrapperhome {
	float: left;
	max-width: 93em;
	min-width: 30em;
	border-bottom: 1px solid #fff;
}

#contentcolumn{
	max-width: 68em;
	min-width: 30em;
	min-height: 70em;
	margin-right: 23em; /*Set right margin to RightColumnWidth*/
	background: url('../images/opacitywhite80.png') repeat left top;
	border-top: 1px solid #fff;
	padding: 0 1em 0 1em;
}

#homesidebar {
	float: left;
	width: 21em; /*Width of right column*/
	margin-left: -23em; /*Set left margin to -(RightColumnWidth) */
	background: url('../images/opacitywhite80.png') repeat left top;
	border-top: 1px solid #fff;
	padding: 0 1em 0 1em;
	min-height: 70em;
}


div.clearline {
	width: 100%;
	height: 1px;
	clear: both;
}



/* - - - - - - - - - - - - - - - - FOOTER - - - - - - - - - - - - - - - - */



#footer {
	max-width: 93em;
	min-width: 73em;
	height: 5em;
	background-color: #efe1e6;
	clear: both;
	display: block;
}

#copyright {
	font-size: 1.4em;
	text-align: center;
	padding-top: 0.8em;
}

#validation {
	text-align: center;
}


/* - - - - - - - - - - - - - - - - TEXT - - - - - - - - - - - - - - - - */


p,
form {
	font-size: 1.3em;
	line-height: 1.8em;
}

p.intro:first-line {
	font-weight: bold;
}

p.outro {
	font-size: 1.2em;
}

#gallerypage #gallery {
	font-size: 1.75em;
}

#sidebar p {
	font-size: 1.5em;
}

a:link,
a:visited {color:#A05473; text-decoration: none;}  
a:hover {text-decoration: underline;}
a:active {color:#A05473; text-decoration: none;}

div.caption {
	float: right;
	padding: 0px;
	margin: 0em 1em 1em 1em;
}

p.caption,
p.birddesc {
	font-size: 1.1em;
	margin: 0px;
	padding: 0px;
	line-height: 1.8em;
}

h1 {
	font-size: 2em;
	margin-top: 0.3em;
	padding-botom: -0.3em;
}

h3 {
	font-size: 1.2em;
	font-weight: bold;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	padding: 0;
}




/* - - - - - - - - - - - - - - - - ABOUT PAGE - - - - - - - - - - - - - - - - */

img.staffordsale,
img.dippyoutside,
img.orangepearleddoves {
	height: 22em;
	width: 29em;
}



/* - - - - - - - - - - - - - - - - STRUCTURE PAGE - - - - - - - - - - - - - - - - */


#divstructure {
	height: 68em;
	width: 60em;
	padding-top: 1em;
	border: 0;
}


/* - - - - - - - - - - - - - - - - FORM STYLES - - - - - - - - - - - - - - - - */


#formbuttons {
	float: left;
	margin: 0 auto;
	width: 18em;
}

table.form {
	width: 44em;
	margin: 0;
	-webkit-border-horizontal-spacing: 0;
}

tr {
	height: 3em;
}


/* - - - - - - - - - - - - - - - TOOLTIP STYLES - - - - - - - - - - - - - - - */


a.tooltip {
	text-decoration: none;
}

a.tooltip span.tooltip {
	display: none; 
	padding: 5px; 
	margin: 0px 0px 0px 0px;
	width: 128px;
	text-align: center;
	font: 1.2em "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #000;
}
	
a.tooltip:hover span.tooltip {
	display: inline; 
	position: absolute; 
	border: 1px solid #ffc0cb;
	background: url('../images/opacitywhite80.png');
}


/* - - - - - - - - - - - - - - - GALLERY IMAGES - - - - - - - - - - - - - - - */


#bichenofinches a {
	display: block;
	padding: 0;
	width: 140px; height: 190px;
	overflow: hidden;
	background: url('../images/bichenofinchesthumb.png') top left no-repeat;
}

#parrotfinch a {
	display: block;
	padding: 0;
	width: 140px; height: 190px;
	overflow: hidden;
	background: url('../images/parrotfinchthumb.png') top left no-repeat;
}

#aviary a {
	display: block;
	padding: 0;
	width: 140px; height: 190px;
	overflow: hidden;
	background: url('../images/aviarythumb.png') top left no-repeat;
}

#diamonddoves a {
	display: block;
	padding: 0;
	width: 140px; height: 190px;
	overflow: hidden;
	background: url('../images/diamonddovesthumb.png') top left no-repeat;
}

#fledglings a {
	display: block;
	padding: 0;
	width: 140px; height: 190px;
	overflow: hidden;
	background: url('../images/fledglingsthumb.png') top left no-repeat;
}

#parsonfinches a {
	display: block;
	padding: 0;
	width: 140px; height: 190px;
	overflow: hidden;
	background: url('../images/parsonfinchesthumb.png') top left no-repeat;
}

#barbarydove a {
	display: block;
	padding: 0;
	width: 140px; height: 190px;
	overflow: hidden;
	background: url('../images/darkdovethumb.png') top left no-repeat;
}

#starfinch a {
	display: block;
	padding: 0;
	width: 140px; height: 190px;
	overflow: hidden;
	background: url('../images/starfinchthumb.png') top left no-repeat;
}

#aviary a:hover,
#starfinch a:hover,
#barbarydove a:hover,
#parrotfinch a:hover,
#fledglings a:hover,
#diamonddoves a:hover,
#parsonfinches a:hover,
#bichenofinches a:hover {
	background-position: left bottom;
}

#thumbwrapper {
	/* max-width: 66em; */
	height: auto;
	display: block;
	overflow: auto;
}

div.thumb {
	width: 140px;
	height: 190px;
	float: left;
	margin-bottom: 1em;
	margin-right: 3em;
}

/* - - - - - - - - - - - - - - - MAIN NAVIGATION - - - - - - - - - - - - - - - */


#navhome a {
	float: left;
	display: block;
	padding: 0;
	border: 0;
	width: 62px; height: 38px;
	overflow: hidden;
	background: url('../images/home.png') left top no-repeat;
	margin-right: 2em;
}

#navhome a:hover {
	background: url('../images/home.png') 0 -38px no-repeat;
}

#navabout a {
	float: left;
	display: block;
	padding: 0;
	border: 0;
	width: 63px; height: 38px;
	overflow: hidden;
	background: url('../images/about.png') left top no-repeat;
	margin-right: 2em;
}

#navabout a:hover {
	background: url('../images/about.png') 0 -38px no-repeat;
}

#navgallery a {
	float: left;
	display: block;
	padding: 0;
	border: 0;
	width: 67px; height: 38px;
	overflow: hidden;
	background: url('../images/gallery.png') left top no-repeat;
	margin-right: 2em;
}

#navgallery a:hover {
	background: url('../images/gallery.png') 0 -38px no-repeat;
}

#navcontact a {
	float: left;
	display: block;
	padding: 0;
	border: 0;
	width: 74px; height: 38px;
	overflow: hidden;
	background: url('../images/contact.png') left top no-repeat;
	margin-right: 2em;
}

#navcontact a:hover {
	background: url('../images/contact.png') 0 -38px no-repeat;
}

#navdivstructure a {
	float: left;
	display: block;
	padding: 0;
	border: 0;
	width: 87px; height: 38px;
	overflow: hidden;
	background: url('../images/structure.png') left top no-repeat;
}

#navdivstructure a:hover {
	background: url('../images/structure.png') 0 -38px no-repeat;
}

/* - - - - - - - - - - - - - Set Link Active States - - - - - - - - - - - - - */


#homepage #navhome a,
#aboutpage #navabout a,
#gallerypage #navgallery a,
#contactpage #navcontact a,
#divstructurepage #navdivstructure a {
	background-position: left bottom;
}


/* - - - - - - - - - - hCard Styling - taught by Dan Buzzo - - - - - - - - - -*/


.vcard {
	margin: 1em auto 0em auto;
	border: 0.1em solid #fdccde;
	padding: 0.5em;
	font-size: 1.25em;
}

div.vcard span,
div.vcard a {
	display: block;
	margin: 0.5em 0;
}

span.fn {
	font-weight: bold;
	font-size: 1.5em;
}


/* - - - - - - - - - - - - - - - - - TWITTER - - - - - - - - - - - - - - - - - */


/*
p.twitter {
  font-family: 'Palatino', serif;
	font-size: 0.75em;
}
*/

#twitters ul {
  list-style: none;
  padding: 0;

  font-size: 0.9em;
/* 	line-height: 0.3em; */

}

#tweet,time,status {
  font-size: 0.9em;
	padding: 0;
}

#twitters a.twittertime {
/*
  font-family: 'Lucida', 'Lucida Grande', serif;
  font-size: 0.75em;
*/
  color: #65923c;
  text-decoration: none;
}

/*
#twitters a {
	color: #97085c;  pink 
  text-decoration: none;
}
*/
