/* Banner */

.node-banner {
  position: relative;
  font-family: $accent-font;
  text-align: center;
  margin-bottom: 1em;
  min-height: 200px;
  @include breakpoint($tablet) {
    min-height: 300px;
    background-color: #162210;
    background: linear-gradient(to bottom, #fff0d1 0%,#fae5b8 20%,#957447 50%,#624d30 80%,#342112 100%);
  }
  @include breakpoint($desktop) {
    min-height: 380px;
    margin-bottom: 0;
  }
  @include breakpoint($wide) {
    min-height: 430px;
  }
  a {
    color: #daac3c;
    @include breakpoint($tablet) {
      color: #d3cf9e;
    }
    &:hover,
    &:focus {
      @include breakpoint($tablet) {
        border-bottom: 2px solid;
      }
    }
  }
  &.has-banner-text .banner-header {
    width: 100%;
    background: #f7f7f7;
    margin-top: 2px;
    @include breakpoint($tablet) {
      margin-top: 0;
      text-align: left;
      position: absolute;
      padding-bottom: 1.25em;
      bottom: auto;
      top: 40%;
      background: url('/sites/all/themes/rosenichols/img/brown-dot-border.png');
      background-position: center bottom;
      background-repeat: repeat-x;
    }
    > div {
      padding: 1em;
      @include breakpoint($tablet) {
        background: rgb(94, 74, 47);
        background: rgba(94, 74, 47, 0.62);
      }
    }
  }
  h2 {
    color: #4C4D4F;
    margin-top: 0;
    margin-bottom: 0.0625em;
    font-size: 2em;
    line-height: 1em;
    @include breakpoint($tablet) {
      color: #f2f2f2;
      font-size: 2.75em;
    }
    @include breakpoint($desktop) {
      font-size: 3.25em;
      margin-bottom: 0.0625em;
    }
    @include breakpoint($wide) {
      font-size: 3.75em;
    }
  }
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.5em;
    line-height: 1em;
    color: #808080;
    @include breakpoint($tablet) {
      color: #d2d2d2;
      font-size: 2em;
    }
    @include breakpoint($desktop) {
      font-size: 2.5em;
    }
    @include breakpoint(1140px) {
      font-size: 3.125em;
    }
  }
}

.front .node-banner {
  @include breakpoint($tablet) {
    background-color: #594637;
  }
  .banner-header {
    text-align: center;
  }
}

.section-about .node-banner {
  @include breakpoint($tablet) {
    background: linear-gradient(45deg, #d3a782 0%,#997462 12%,#415c57 42%,#cdd6dd 100%);
  }
  &.has-banner-text .banner-header {
    @include breakpoint($tablet) {
      background-image: url('/sites/all/themes/rosenichols/img/white-dot-border.png');
    }
    > div {
      @include breakpoint($tablet) {
        background: rgb(94, 117, 113);
        background: rgba(94, 117, 113, 0.8);
      }
    }
  }
}

.section-contact .node-banner {
  @include breakpoint($tablet) {
    background: linear-gradient(to bottom, #e1d3c6 0%,#525d1b 30%,#101c21 90%);
  }
  &.has-banner-text .banner-header {
    @include breakpoint($tablet) {
      background-image: url('/sites/all/themes/rosenichols/img/yellow-dot-border.png');
    }
    > div {
      @include breakpoint($tablet) {
        background: rgb(103, 117, 94);
        background: rgba(103, 117, 94, 0.8);
      }
    }
  }
}

.section-portfolio .node-banner {
  @include breakpoint($tablet) {
    background-color: #101c21;
    background: linear-gradient(to bottom, #171F07 0%,#475403 40%,#E0E1C1 67%,#C3C190 100%);
  }
}

.node-page-title {
  display: none;
  @include container;
  font-family: "questaregular", Georgia, "DejaVu Serif", serif;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  color: #4C4D4F;
  @include breakpoint($tablet) {
    display: block;
    color: #838383;
  }
  > div {
    background: #fff;
    border: 2px solid #e6c18d;
    border-right-width: 0;
    border-left-width: 0;
    width: 100%;
    line-height: 1.25em;
    padding: 0.4em 0.5em;
    font-size: 1.5em;
    margin-bottom: 0;
    @include breakpoint($tablet) {
      font-size: 1.875em;
      position: relative;
      margin-top: -1.75em;
      border-right-width: 2px;
      border-left-width: 2px;
    }
    @include breakpoint($desktop) {
      margin-top: -1.25em;
    }
    @include breakpoint($wide) {
      font-size: 2.25em;
    }
  }
}

.section-portfolio .node-page-title > div {
  border-color: #9cc452;
}

.section-contact .node-page-title > div {
  border-color: #a5d674;
}

