/* Blog */

.context-blog {
	#zone-above-footer-wrapper {
		background: #fff;
		margin-top: 0;
		padding: {
			top: 30px;
			bottom: 30px;
		}
	}
	.item-list {
		background: url("../images/tan-line.png") top center no-repeat transparent;
		padding-top: 30px;
	}
	&.node-type-post,
	&.page-blog-tags,
	&.page-blog-archive,
	&.page-blog-author {
		#zone-above-footer-wrapper {
			background: #d2c4a4;
		}
		.item-list {
			background: none;
			padding: 0;	
		}
	}
	&.page-blog-author,
	&.page-blog-archive {
		#zone-above-footer-wrapper {
			background: #DFDFDF;
			border-top: 2px solid #D2C4A4;
		}
	}
	&.page-blog {
		.view-display-id-blog_index,
		.view-display-id-post_author,
		.view-display-id-posts_by_date {
			.views-row {
				border-top: 10px solid $dk-grey;
				padding-bottom: 30px;
				background: url("../images/tan-line.png") bottom center repeat-y rgba(0, 0, 0, 0);
			}
			.views-row-last {
				.node-post {
					padding-bottom: 0;
				}
			}
		}
	}
}

.page-blog {
	#block-blockify-blockify-page-title {
		.content {
			background: url("../images/tan-line.png") bottom center repeat-y transparent;
			padding-top: 22px;
			padding-bottom: 20px;
		}
		h1 {
			font-weight: normal;
			font-size: 22px;
			text-align: center;
			line-height: 45px;
			color: #d2c4a4;
			background: #fff;
			margin: 0;
		}
	}
	.view-header {
		background: url("../images/tan-line.png") bottom center repeat-y transparent;
		padding-top: 22px;
		padding-bottom: 20px;
		.title {
			display: block;
			font-weight: normal;
			font-size: 22px;
			text-align: center;
			line-height: 45px;
			color: #D2C4A4;
			background: #FFF;
			margin: 0;
		}
	}
}

@mixin node-post {
	line-height: 1.75em;
}

@mixin blog-headings {
	margin-top: 0;
	font-family: judson;
}


.node-post {
	h2 {
		margin-bottom: 10px;
	}
	.post-tags {
		padding-left: 40px;
		background: url('../images/tag-icon.png') center left no-repeat transparent;
		padding-top: 3px;
		padding-bottom: 3px;
		a {
			margin-right: 20px;
			color: darken(#d2c4a4, 20%);
		}
	}
	.post-date {
		float: right;
		color: #d2c4a4;
		padding-top: 3px;
		padding-bottom: 3px;
	}
	.post-date,
	.post-author,
	.post-tags,
	.username {
		display: block;
		font-size: 12px;
	}
	.post-author {
		margin-bottom: 30px;
		display: block;
		font-family: judson;
		font-size: 26px;
		a {
			text-decoration: none;
			color: #ccc;
			&:hover,
			&:focus {
				color: #66B3AB;
			}
		}
	}
	&.node-teaser {
		@include node-post;
		border: 1px solid #D2D2D2;
		border-top: 0;
		background: #FFF;
		position: relative;
		.content {
			padding: 40px 50px;
		}
		a {
			color: #d2c4a4;
			text-decoration: none;
		}
		h2 {
			@include blog-headings;
			a {
				text-decoration: none;
				color: darken(#ba323c, 10%);
				font-size: 40px;
				line-height: 1em;
			}
		}
		.field-name-body {
			margin-top: 10px;
		}
		&.portrait-img {
			overflow: hidden;
			border-left: 0;
			.field-name-field-post-portrait-img {
				position: absolute;
				left: 0;
				img {
					display: block;
				}
			}
			.content {
				border-left: 300px solid #404040;
			}
		}
	}
}


.node-post.node-full {
	@include node-post;
	border: 0;
	padding: 40px 0 30px;
	color: #ccc;
	background: none;
	.content {
		background: inherit;
		border: 0;
		padding: 0;
	}
	h2 {
		@include blog-headings;
		color: $brown;
		font-size: 40px;
		line-height: 1em;
	}
	.field-name-field-post-portrait-img {
		float: right;
		margin: {
			left: 20px;
			bottom: 20px;
		}
	}
	.field-name-field-post-landscape-img {
		margin-bottom: 20px;
	}
}


.node-type-post {
	#zone-content-wrapper {
		margin-bottom: 0;
		background-color: #333333;
		border-top: 3px solid #ccc;
	}
	.node-post {
		.post-date,
		.post-author,
		.post-tags,
		.username {
			display: block;
		}
		.field-name-field-post-image {
			float: right;
		}
	}
}

@mixin blog-sidebar {
	@include inline-block;
	margin-right: 20px;
	vertical-align: top;
	h2 {
		font-family: $carrois;
		font-size: 18px;
		font-weight: normal;
		color: #333333;
		display: block;
		margin: {
			top: 0;
			bottom: 10px;
		}
	}
	a {
		color: #137268;
		font-size: 14px;
		line-height: 1em;
	}
	ul {
		li {
			margin: 0;
		}
	}
}

#block-views-posts-popular-tags,
#block-views-posts-also-by-author,
#block-views-posts-post-recent,
#block-views-posts-blog-archive {
	@include blog-sidebar;
}

#block-views-posts-popular-tags,
#block-views-posts-blog-archive {
	width: 220px;
}

#block-views-posts-also-by-author,
#block-views-posts-post-recent {
	margin-right: 0;
	width: 460px;
}



@mixin pagination-item($bg) {
	border: 0;
	background-color: #{$bg};
}

/* pagination */
ul.pager {
	padding-top: 30px;
	padding-bottom: 30px;
	background: url("/sites/all/themes/custom/images/bars-tan.png") 0 -19px no-repeat #ffffff;
	li {
		font-size: 14px;
		line-height: 1em;
		&.pager-item {
			@include pagination-item($pagination-color);
			@include inline-block;
			line-height: 1em;
			@include border-radius(13px);
			margin: {
				left: 10px;
				right: 10px;
				bottom: 0;
			}
			&:hover,
			&:focus {
				@include background-image(none);
				background: $green;
				a {
					color: #fff;
				}
			}
			a {
				text-decoration: none;
				color: $dk-grey;
				@include border-radius(0);
				@include background-image(none);
				@include transition-property(all);
				@include transition-duration(.25s);
				@include transition-timing-function(ease-in);
				padding: 6px 10px;
				@include inline-block;
			}
		}
		&.pager-first {
			margin: 0;
			font-size: 14px;
			position: absolute;
			left: 0;
			a {
				background-color: lighten($pagination-color, 10%);
			}
			
		}
		&.pager-previous {
			margin: 0;
			font-size: 14px;
			position: absolute;
			left: 73px;
			a {
				background-color: lighten($pagination-color, 10%);
			}
		}
		&.pager-current {
			font-size: 14px;
			color: $dk-grey;
			font-weight: normal;
			@include pagination-item($pagination-color);
			padding: 5px 10px;
			@include border-radius(13px);
			@include background-image(none);
			border: 1px solid $dk-grey;
			padding: 6px 9px;
			@include inline-block;
			margin: {
				left: 10px;
				right: 10px;
			}
		}
		&.pager-next {
			margin: 0;
			font-size: 14px;
			position: absolute;
			right: 70px;
			a {
				background-color: lighten($pagination-color, 10%);
			}
		}
		&.pager-last {
			margin: 0;
			font-size: 14px;
			position: absolute;
			right: 0;
			a {
				background-color: lighten($pagination-color, 10%);
			}
		}
		&.pager-first,
		&.pager-previous,
		&.pager-next,
		&.pager-last {
			line-height: 1em;
			line-height: 29px;
			a {
				padding: 6px 10px;
				text-decoration: none;
				&:hover,
				&:focus {
					background: lighten($green, 10%);
					color: #fff;
				}
			}
		}
	}
}