/* Colorbox */

#colorbox {
	#cboxClose {
		position: absolute;
		top: -34px;
		right: -1px;
		display: block;
		text-indent: 0;
		width: auto;
		height: auto;
		background: #000;
		border: 1px solid #dddddd;
		text-shadow: none;
		color: #fff;
		border-radius: 0;
		padding: 8px 27px;
		font-size: 16px;
		font-family: Carrois Gothic SC;
		font-weight: normal;
		letter-spacing: 2px;
		text-transform: lowercase;
		border-bottom: 0;
		line-height: 1em;
	}
	#cboxContent {
		margin-top: 35px;
		border: 1px solid #ddd;
		-moz-box-sizing: border-box;
	}
	#cboxLoadedContent {
		border: 8px solid #000;
	}
	#cboxTitle {
		text-indent: -9999px;
	}
}
