/* Common */

$carrois: 'carrois_gothic';
$carrois-sc: 'carrois_gothic_sc';
$josefin: 'josefin_sanslight';
$silken-thread: 'SilkenThread';

$brown: #b09860;
$lt-brown: #d2c4a4;
$red: #b31e29;
$pagination-color: #d9d9d9;
$dk-grey: #404040;
$grey: #d0d0d0;
$green: #839441;
$lt-green: #b6d962;

$break-mobile: 740px;
$break-tablet: 980px;
$break-desktop: 1220px;

@mixin placeholder {
	&.placeholder { @content; }
	&:-moz-placeholder { @content; }
	&::-moz-placeholder { @content; }
	&::-webkit-input-placeholder { @content; }
}

@mixin respond($media...) {
  @each $type in $media {
    @if $type == mobile {
      @media all and (max-width: $break-mobile) {
        @content;
      }
    }

    @if $type == tablet {
      @media all and (min-width: $break-mobile + 1) and (max-width: $break-tablet - 1) {
        @content;
      }
    }

    @if $type == desktop {
      @media all and (min-width: $break-tablet + 1) and (max-width: $break-desktop - 1) {
        @content;
      }
    }

    @if $type == wide {
      @media all and (min-width: $break-desktop) {
        @content;
      }
    }
  }
}



* {
	-webkit-font-smoothing: antialiased;
}

html {
	font-family: $carrois;
	font-size: 18px;
	line-height: 32px;
	color: #444;
}

body {
}

.grid-1,
.grid-2,
.grid-3,
.grid-4,
.grid-5,
.grid-6,
.grid-7,
.grid-8,
.grid-9,
.grid-10,
.grid-11,
.grid-12 {
	@include respond(mobile) {
		margin-left: 1.5em;
		margin-right: 1.5em;
	}
}


#{headers()} {
	font-weight: 400;
}

p, ul {
	margin-top: 0;
}

a {
	&:link {
		text-decoration: none;
	}
	color: $green;
	@include transition-property(color);
	@include transition-duration(.25s);
	@include transition-timing-function(ease-in);
	&:hover {
		color: darken($green, 25%);
	}
}

.field .field-label {
	font-weight: 400;
}

#zone-above-content,
#region-above-content {
	width: 100%;
	margin: 0;
}

#region-above-content {
	@include respond(mobile) {
		margin-left: 1.5em;
		margin-right: 1.5em;
		width: auto;
	}
}

#zone-featured-content-wrapper {
	padding-top: 2em;
	padding-bottom: 2em;
	background: #343434;
	border-top: 10px solid #eff3de;
	border-bottom: 10px solid #eff3de;
}

.context-about #zone-featured-content-wrapper {
	border-bottom: 0;
	border-top: 10px solid #f2f1dc;
}

#zone-content-wrapper {
	//margin-bottom: 40px;
}

.front #zone-content-wrapper {
	margin-bottom: 0;
}

#zone-content {
	padding-top: 2em;
	padding-bottom: 2em;
}


.item-list {
	.pager {
		li {
			padding: 0;
		}
	}
}

.page-admin {
	.views-exposed-widget {
		margin-right: 10px;
	}
}

.node-type-page .field-name-body {
	h1:first-of-type,
	h2:first-of-type {
		margin-top: 0;
	}
}


blockquote {
  margin: 1em 4.444em 2em 4.444em;
  position: relative;
  h3 {
  	margin: 0;
  	font-family: $josefin;
  	font-size: 1.75em;
  	line-height: 1em;
  	margin-bottom: 0.125em;
  	a {
  		color: #b3ac4e;
  		&:hover,
  		&:focus {
  			color: #b8ca75;
  		}
  	}
  }
  p {
	  max-width: none;
	  color: #d0d0d0;
	  &:last-of-type {
	  	margin-bottom: 0;
	  }
  }
  &::before {
	  position: absolute;
	  quotes: "\201c" "\201d" "\2018" "\2019";
	  color: #666;
	  font: 90px "Georgia", Serif;
	  line-height: 0.95em;
	  left: -83px;
	  content: open-quote;	  	
  }
  &::after {
    position: absolute;
    quotes: "\201c" "\201d" "\2018" "\2019";
    color: #666;
    font: 90px "Georgia", Serif;
    line-height: 0.95em;
    top: 27px;
    left: -73px;
    content: close-quote;	  	
  }
  &:last-of-type {
  	margin-bottom: 0;
  }
}