/* Contact */

$grey: #ececec;


#block-rose-contact-intro {
	margin-bottom: 4em;
	.contact-info div {
		position: relative;
		width: 31.66%;
		margin-right: 2.5%;
		font-family: $josefin;
		font-size: 1.333em;
		text-align: center;
		line-height: 1em;
		border: 1px solid #eff3de;
		float: left;
		padding: 3em 1em 1.5em 1em;
		&.email {
			background: url('../images/contact-icons.png') center 0 no-repeat #f5f5f5;
		}
		&.linkedin {
			background: url('../images/contact-icons.png') center -108px no-repeat #f5f5f5;
		}
		&.twitter {
			background: url('../images/contact-icons.png') center -226px no-repeat #f5f5f5;
		}
		&.last {
			margin-right: 0;
			margin-bottom: 0;
		}
		@include respond(mobile) {
			width: 100%;
			margin-right: 0;
			margin-bottom: 1em;
			float: none;
		}
		a {
			color: #444;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			padding: 3em 1em 0.5em 1em;
			&.email-address {
				@include respond(tablet) {
					font-size: 0.85em;
					padding-top: 3.59em;
				}
			}
		}
	}
}

#rose-message-form {
	.form-item {
		input.error,
		textarea.error,
		select.error {
			border: inherit;
			
		}
		input.error {
			border-bottom: 2px solid #c68998;
		}
		textarea.error {
			background-image: url('../images/textarea-lines-error.png');
		}
	}
	input,
	textarea {
		background: none;
		border: 0;
		@include box-shadow(none);
		@include border-radius(0);
		@include text-shadow(none);
		font-size: 27px;
		line-height: 28px;
		font-weight: 400;
		font-family: $carrois;
		height: auto;
		margin: 0;
		@include placeholder {
			color: #d2d2d2;
		}
	}
	textarea {
		background: url('../images/textarea-lines.png') 0 0 repeat;
		text-indent: 8.75em;
		color: #8f6eb4;
		line-height: 1.852em;
		font-family: inherit;
	}
	input {
		border-bottom: 2px solid #e5e6da;
		&.form-submit {
			border: 0;
			font-family: $carrois-sc;
			text-transform: lowercase;
			color: #fff;
			font-size: 1.25em;
			padding: 0.5em 3.75em 0.5em 1.25em;
			background: url('/sites/all/themes/rosenichols/images/paper-aeroplane.png') 92% center no-repeat #b3ac4e;
		}
	}
	.form-type-textfield input {
		color: #839441;
		width: 100%;
		line-height: 1em;
	}
	.name-wrapper {
		height: 3em;
		margin-bottom: 1em;
		span {
			padding-top: 0.1em;
		}
	}
	span {
		float: left;
		font-size: 27px;
	}
	.message-wrapper {
		position: relative;
		clear: both;
		line-height: 2em;
		margin-bottom: 2em;
		span {
			padding-top: 0.333em;
		}
	}
	.submit-wrapper {
		width: 100%;
		clear: both;
		text-align: right;
	}
	.message-intro {
		position: absolute;
	}
	label {
		display: none;
	}
	.resizable-textarea .grippie {
		display: none;
	}
	.form-type-textfield {
		display: inline;
		width: 15em;
		float: left;
		margin: 0 8px;
		clear: right;
	}
}


