/* CV */

.context-cv {
	.field-name-body {
		section.cv {
			margin-top: 2em;
			margin-bottom: 3em;
		}
		span {
			color: #746e19;
		}
		.cv-img {
	  	width: 100%;
			max-width: 588px;
	  }
	}
}

#block-rose-cv-sidebar-status {
	font-size: 15px;
	.status-employment,
	.status-skills {
		border: 1px solid #d0d0d0;
		margin-bottom: 2em;
	}
	.heading {
		padding-bottom: 6px;
		border-bottom: 1px solid #d0d0d0;
		border-left: 0;
		border-right: 0;
		padding: 1em;
		text-align: center;
		h3 {
			margin: 0;
			line-height: 1em;
		}
	}
	ul {
		margin-bottom: 0;
		padding-left: 1.125em;
		margin: 0;
		list-style-type: square;
		padding-left: 1.5em;
		li {
			line-height: 1.4em;
			padding: 3px 1px 3px 1.25em;
		}
	}
	.content {
		padding: 1em;
	}
}

#block-rose-cv-references {
	font-size: 15px;
	section {
		border: 1px solid #d0d0d0;
		margin-bottom: 2em;
	}
	h3 {
		text-align: center;
		border-bottom: 1px solid #d0d0d0;
		margin: 0;
		line-height: 1em;
		padding: 1em;
	}
	.content p {
		padding: 1em;
		margin: 0;
	}
}

// #block-rose-testimonials {
// 	.cv-block {
// 		@include inline-block;
// 		margin-bottom: 2.5em;
// 		vertical-align: top;
// 	}
// 	.cv-text {
// 		margin-right: 0;
// 	}
// 	.cv-image {
// 		img {
// 			width: 100%;
// 			height: auto;
// 		}
// 	}
// 	.cv-cta {
// 		text-align: center;
// 		font-family: carrois_gothic_sc;
// 		text-transform: lowercase;
// 		span {
// 			display: block;
// 			font-family: $josefin;
// 			font-size: 1.778em;
// 			text-transform: none;
// 			margin-bottom: 1em;
// 		}
// 		a {
// 			background: #b3ac4e;
// 			padding: 0.5em 2em;
// 			margin: 0 0.5em;
// 			color: #eff;
// 		}
// 	}
// }


#block-rose-cv-sidebar-education {
	border: 1px solid #d0d0d0;
	border-top: 0;
	font-size: 15px;
	margin-bottom: 2em;
	.heading {
		padding-bottom: 6px;
		border-top: 1px solid #d0d0d0;
		border-bottom: 1px solid #d0d0d0;
		border-left: 0;
		border-right: 0;
		padding: 1em;
		text-align: center;
	}
	h3 {
		padding-bottom: 0.5em;
		margin: 0;
		line-height: 1em;
	}
	.content {
		padding: 1em 1em 2em 1em;
	}
	.gcses .content {
		padding: 1em;
	}
	.cvsidebaravg {
		font-size: 0.933em;
		color: #82747c;
		display: block;
		line-height: 1em;
	}
	table {
		border: none;
		margin: 0;
		td {
			border: 0;
			padding: 3px 1px;
			vertical-align: top;
			line-height: 1.4em;
		}
		tr td:first-of-type {
			width: 2.75em;
		}
		th {
			padding-bottom: 6px;
			border-top: 1px solid #d0d0d0;
			border-bottom: 1px solid #d0d0d0;
			border-left: 0;
			border-right: 0;
			padding: 1em;
			text-align: center;
		}
	}
}