/* Header */

.site-header {
  background: #4c4d4f;
  > div {
    text-align: center;
    padding: {
      top: 0.75em;
      bottom: 1em;
    }
  }
}

.header__logo-image {
  width: 340px;
}

#menu-toggle {
  text-transform: lowercase;
  font-family: carrois_gothic_sc;
  color: white;
  border: 1px solid #eff3de;
  padding: 0.25em 1.5em 0.333em 1.5em;
  display: inline-block;
  line-height: 1em;
  background: none;
  font-weight: 400;
  outline: none;
  margin: 0 auto 20px auto;
  border-radius: 0;
  text-shadow: none;
  font-size: 1em;
  min-width: 100px;
  display: none;
  &.open {
    background: #94A749;
  }
}
