/* Maintenance page */

.maintenance-page {
	#page {
		width: 50%;
		text-align: center;
		margin: 0 auto;
		padding-top: 100px;
	}
	.maintenance-logo {
		margin: 0 auto;
	}
	#header {
		.section {
			display: block;
		}
	}
}

.context-forbidden,
.context-page-not-found {
	#block-system-main {
		text-align: center;
	}
	.error-page-heading {
		display: inline-block;
		font-family: $silken-thread;
		font-size: 4em;
		line-height: 4em;
		vertical-align: top;
		@include respond(mobile) {
			display: block;
			line-height: 2.5em;
		}
	}
}

.context-forbidden {
	.error-text-wrapper {
		vertical-align: top;
		display: inline-block;
	}
	.error-page-heading {
		display: block;
		line-height: 2.5em;
	}
}