/* Projects */

.node-type-project {
	.node-project {
		h2 {
			margin-top: 0;
			margin-bottom: 0.25em;
		}
		.field-name-body {
			margin-bottom: 2em;
		}
		.field-type-text-long {
			margin-bottom: 2em;
			&:last-of-type {
				margin-bottom: 0;
			}
			h2:first-of-type {
				margin-top: 0;
			}
		}
		blockquote {
			&::before,
			&::after {
				color: #ededed;
			}
			p {
				color: #888888;
			}
		}
	}
	#zone-content {
		padding-top: 0;
	}
	article {
		@include respond(mobile) {
			margin-bottom: 3em;
		}
	}
	.container-12 .grid-8 {
		@include respond(wide) {
			width: 770px;
			margin-right: 20px;
		}
		@include respond(desktop) {
			width: 610px;
			margin-right: 20px;
		}
	}
	#region-sidebar-second {
		.project-visit-site {
			margin-bottom: 2rem;
			color: #ffffff;
			background: #b3ac4e;
			text-transform: lowercase;
			font-family: $carrois-sc;
			text-align: center;
			display: block;
			padding: 0.5em 1em;
			font-size: 1.500em;
		}
		.project-sidebar {
			border: 1px solid #d0d0d0;
			margin-bottom: 2em;
			&.get-in-touch {
				margin-bottom: 0;
			}
			ul {
				margin-bottom: 0;
			}
			.heading {
				padding-bottom: 6px;
				border-bottom: 1px solid #d0d0d0;
				border-left: 0;
				border-right: 0;
				padding: 1em;
				text-align: center;
			}
			h3 {
				margin: 0;
				line-height: 1em;
				font-size: 1.111em;
			}
			.content {
				padding: 1em;
				font-size: 0.889em;
				line-height: 1.563em;
			}
		}
	}
}



#block-views-projects-projects {
	@include respond(mobile) {
		text-align: center;
	}
	.group-heading {
		clear: both;
		position: relative;
		text-align: center;
		background: url('../images/bars.png') center bottom no-repeat transparent;
		padding-bottom: 2.222em;
		margin-bottom: 2em;
		@include respond(mobile) {
			max-width: 574px;
			margin: 0 auto 2em auto;
		}
		span {
			color: #848484;
			margin-top: 0.111em;
			font-size: 0.889em;
			margin-bottom: 0;
			display: block;
		}
		.bar-end {
			width: 100%;
			height: 12px;
			position: absolute;
			bottom: 0;
			&.left {
				background: url('../images/bar-end-left.png') top left no-repeat;
			}
			&.right{
				background: url('../images/bar-end-right.png') top right no-repeat;
			}
		}
	}
	h3 {
		font-size: 1.5em;
		margin-bottom: 0;
	}
	.views-row {
		vertical-align: top;
		width: 48.93%;
		margin-right: 2.129%;
		@include inline-block;
		margin-bottom: 2.5em;
		float: left;
		@include respond(tablet) {
			margin-right: 1.9486%;
		}
		@include respond(mobile) {
			width: 100%;
			margin-right: 0;
			max-width: 574px;
		}
		&.views-row-even {
			margin-right: 0;
		}
		.project-image-title-wrapper {
			position: relative;
			border: 1px solid #d0d0d0;
		}
	}
	.views-field-title {
		font-size: 1.167em;
		position: absolute;
		bottom: 0;
		left: 0;
		background: rgba(237, 242, 218, 0.85);
		margin: 0;
		width: 100%;
		@include transition-property(all);
	  @include transition-duration(.25s);
	  @include transition-timing-function(ease-in);
		@include respond(mobile, tablet) {
			line-height: 1em;
		}
		a {
			padding: 0.5em 1em;
			display: block;
			width: 100%;
			text-decoration: none;
			color: inherit;
		}
	}
	img {
		display: block;
		width: 100%;
		height: auto;
	}
	.views-field-nothing {
		display: block;
		margin-bottom: 1.25em;
	}
	.views-field-field-project-intro {
		font-size: 20px;
		line-height: 1.5em;
		display: block;
	}
}

#block-rose-project-banner {
	margin-bottom: 2.5em;
	text-align: center;
	height: 315px;
	.project-banner {
		max-width: 1180px;
		margin: 0 auto;
		position: relative;
		border: 1px solid #d0d0d0;
	}
	.title {
		font-size: 1.611em;
		padding: 0.5em 0;
		position: absolute;
		bottom: 0;
		text-align: center;
		width: 100%;
		background: rgba(237, 242, 218, 0.85);
	}
	.project-intro {
		padding: 1em;
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		background: rgba(237, 242, 218, 0.75);
		@include respond(mobile, tablet) {
			position: static;
			border-top: 1px solid #d0d0d0;
		}
		h2 {
			margin-top: 0;
			margin-bottom: 0.25em;
		}
		.field-name-field-project-intro {
			font-size: 1.125em;
		}
	}
}


// .node-project .content {
// 	.field-type-text-long {
// 		width: 48.671%;
// 		margin-right: 2.129%;
// 		@include inline-block;
// 		margin-bottom: 2.5em;
// 		vertical-align: top;
// 		border: 1px solid #d0d0d0;
// 		@include respond(tablet) {
// 			margin-right: 1.9486%;
// 		}
// 		@include respond(mobile) {
// 			width: 100%;
// 			margin-right: 0;
// 		}
// 		.field-label {
// 			color: #606060;
// 			background: #ebe5ec;
// 			padding: 0.75em;
// 			text-align: center;
// 			font-family: $carrois-sc;
// 			margin: 0;
// 			text-transform: lowercase;
// 		}
// 		h2 {
// 			margin: 0;
// 			font-size: 1.688em;
// 		}
// 		.field-items {
// 			padding: 1.25em;
// 		}
// 	}
// 	> div:nth-child(2) {
// 		margin-right: 0;
// 	}
// }


